/* sticky footer */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 1;
}

/* sticky sidebar */
.h-75-vh {
    max-height: 74vh;
}

/* Placeholder Image Padding */
.padding-5 {
    padding: 10rem 0;
}

.h-500-px {
    height: 475px;
}